{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          // "@actions": "./src/components/actions",
          "@apollo-client": "./src/lib/apollo.js",
          "@config": "./src/config",
          "@utils": "./src/utils",
          "@contexts": "./src/contexts",
          "@graphql": "./src/graphql",
          "@components": "./src/components",
          // "@modules": "./src/modules",
          "@lib": "./src/lib",
          "@middlewares": "./src/lib/middlewares",
          // "@pages": "./src/pages",
          // "@schemas": "./src/schemas",
          // "@users": "./src/pages/users",
          // "@validations": "./src/validations"
          "@styles": "./src/styles"
        }
      }
    ]
  ]
}
