/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

html,
body {
  max-width: 1920px;
  margin: 0 auto;
}

[role='alert'] {
  transform: scaleY(0);
  transform-origin: top;
}

[role='alert'].open {
  transform: scaleY(1);
}

@tailwind utilities;
